<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoPI.Properties.Settings.dbServicoConnectionString"
            connectionString="Data Source=dbServico.mssql.somee.com;Initial Catalog=dbServico;User ID=EnzoAlberti_SQLLogin_1;Password=gjzydiz6zl;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>